<!DOCTYPE html>
<html lang="en">

<head>
    <title>Strategy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    {# Import Lightweight chart with multipane support #}
    {# Source https://github.com/ntf/lightweight-charts #}
    {# Example https://jsfiddle.net/adrianntf/6qea5ytv/ #}
    {#<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>#}
    {% include 'includes/lightweight_chart_multipane.html' %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css" rel="stylesheet" />
    <style></style>
    {% block style %}{% endblock %}
    {% block head %}{% endblock %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
    {% block body %}{% endblock %}
    {% block script %}{% endblock %}
</body>

</html>
